@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <img src="~/Logo REEConecta.png" alt="Logotipo ReeConecta" width="130px" />
    <h1 class="display-4">ReeConecta</h1>
    <p>Esse é um projeto desenvolvido por alunos do 2º Eixo de Análise e Desenvolvimento de Sistemas da PUC Minas Virtual.</p> <hr>
    <h4 style="padding-top: 50px">Página em construção!</h4>
    <p style="padding-bottom: 50px">Em breve novos conteúdos aqui.</p>
</div>
