body {
    overflow:hidden;
}

footer {
    display: none !important;
}

.border-bottom {
    margin-bottom: 0 !important;
}

.container {
    background-color: #5aaf5f;
    margin: 0;
    min-width: 100%;
    padding: 0, 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 !important;
    height: 100%;
}

.espaco-login{
    margin: 125px;
}

.espaco-banner {
    height: 100vh;
}

.img-banner {
    height: 92%;
}

h3 {
    color: #5aaf5f;
}

.campo-login {
    border: none;
    background-color: #d6f7d8;
    border-bottom: solid 1px #408544;
}

.msg-erro-login {
    padding-top: 10px;
    color: red;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn-entrar {
    background-color: #5aaf5f;
    color: white;
    font-weight: bold;
}

.btn-entrar:hover {
    background-color: #408544;
    color: white;
    font-weight: bolder;
}

.link-esqueci-senha {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: #5aaf5f;
    font-weight: 550;
}

.link-esqueci-senha:hover {
    font-weight: 700;
    text-decoration: none;
    color: #408544;
    cursor: pointer;
}

.link-criar-conta {
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #3789f2;
    font-weight: 500;
}

.link-criar-conta:hover {
    font-weight: bolder;
}

@media (max-width: 855px) {
    .espaco-banner {
        display: none !important;
    }

    .container{
        margin: 0;
        padding: 0;
    }

    main {
        margin: 0;
        min-height: 100vh;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../fundo-celular5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
