@model reeconecta.Models.PontoDeColeta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PontoDeColeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomePonto" class="control-label"></label>
                <input asp-for="NomePonto" class="form-control" />
                <span asp-validation-for="NomePonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoPonto" class="control-label"></label>
                <input asp-for="DescricaoPonto" class="form-control" />
                <span asp-validation-for="DescricaoPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CepPonto" class="control-label"></label>
                <input asp-for="CepPonto" class="form-control" />
                <span asp-validation-for="CepPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionamentoPonto" class="control-label"></label>
                <select asp-for="FuncionamentoPonto" class="form-control"></select>
                <span asp-validation-for="FuncionamentoPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioPonto" class="control-label"></label>
                <input asp-for="HorarioPonto" class="form-control" />
                <span asp-validation-for="HorarioPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneP01" class="control-label"></label>
                <input asp-for="TelefoneP01" class="form-control" />
                <span asp-validation-for="TelefoneP01" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WppTelP1" /> @Html.DisplayNameFor(model => model.WppTelP1)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneP02" class="control-label"></label>
                <input asp-for="TelefoneP02" class="form-control" />
                <span asp-validation-for="TelefoneP02" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WppTelP2" /> @Html.DisplayNameFor(model => model.WppTelP2)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
