<p>Olá, ##FULANO! Agora você pode redefinir sua senha.</p>

<form id="formNovaSenha" onsubmit="salvarNovaSenha(); return false;">

    <label>Nova senha</label>
    <input name="SenhaNova" type="password" class="form-control" />

    <label class="mt-3">Confirmar senha</label>
    <input name="Confirmar" type="password" class="form-control" />

    @if (ViewBag.Erro != null)
    {
        <p class="text-danger mt-2">@ViewBag.Erro</p>
    }

    @if (ViewBag.Sucesso != null)
    {
        <p class="text-success mt-2">@ViewBag.Sucesso</p>
    }

    <button type="button" class="btn btn-entrar mt-3" onclick="salvarNovaSenha()">Salvar nova senha</button>
</form>
